.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;

  // height: 100vh;
  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: grey;
  }

  & .error {
    color: red;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
