// .book {
//   background: #fff;
//   box-shadow: 2px 2px 2px rgba(58, 57, 57, 0.13);
//   display: flex;
//   gap: 3rem;
//   padding: 2rem 2rem;

//   &__img {
//   }

//   & img {
//     // width: 100%;
//     width: 300px;
//     object-fit: cover;
//   }

//   &__details {
//     & .title {
//       font-size: 3rem;
//       line-height: 3rem;
//       font-weight: 600;
//       color: rgb(83, 78, 78);
//     }

//     & p {
//       font-size: 1.5rem;
//       color: rgb(139, 137, 137);
//     }

//     & .author {
//       margin-top: 1rem;
//     }

//     & a {
//       display: inline-block;
//       margin-top: 2rem;
//       background: rgba(0, 0, 255, 0.678);
//       color: #fff;
//       padding: 1rem 1.5rem;
//       text-decoration: none;
//       font-size: 1.4rem;
//     }
//   }
// }

.book {
  display: flex;
  background: #fff;
  padding: 2rem;
  justify-content: space-between;
  gap: 2.3rem;
  box-shadow: 0 0.5rem 0.5rem rgba(83, 82, 82, 0.13);

  &__image {
    flex: 1.2;

    @media only screen and (max-width: 768px) {
      flex: 1.7;
    }
    & img {
      //   position: absolute;
      left: 0;
      top: -4rem;
      height: 100%;
      width: 100%;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.13);

      @media only screen and (max-width: 768px) {
        top: 0;
      }
    }
  }

  &__details {
    flex: 2.8;
    text-align: left;
    color: grey;

    & h1 {
      font-size: 2.3rem;
      font-weight: 700;
      line-height: 1.3;

      @media only screen and (max-width: 768px) {
        font-size: 1.7rem;
      }
    }

    & .author {
      margin-top: 1rem;
    }

    & p {
      font-size: 1.4rem;
      font-weight: 500;

      @media only screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    & a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      background: blue;
      border-radius: 0.5rem;
      padding: 1.1rem 1.8rem;
      font-weight: 500;
      font-size: 1.2rem;
      margin-top: 4rem;
    }
  }
}
